<?xml version="1.0"?>

<launch>
  
    <!-- This launcher needs the dynamixels to be connected through the USB2Dynamixel adapter -->
  
    <!-- Dynamixel controller manager -->
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dxl_port:
                    port_name: "/dev/ttyUSB_DYNAMIXEL"
                    baud_rate: 57142
                    min_motor_id: 1
                    max_motor_id: 10
                    update_rate: 20
        </rosparam>
    </node>
    
    
    <!-- Arm and pan-tilt controllers -->
    <rosparam file="$(find robospect_ptu)/config/dxl_params.yaml" command="load"/>
    <node name="ptu_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port dxl_port
                pan_controller
                tilt_controller"
          output="screen"/>
    
    <!-- Note to publish joint_states and apply filter -->
    <node name="robospect_ptu_node" pkg="robospect_ptu" type="ptu_joint_pub.py"
          <param name="pan_offset" value="-0.044"/>
          output="screen"/>
          
</launch>
